body {
  animation: body-bg 3s infinite ease-in-out;
}
.canvas{
  margin: auto;
  width: 100%;
  height: 100%;
  background: black;
}

@keyframes body-bg {
  from {
    background: #ff3232;
  }
  33% {
    background: #ffee00;
  }
  66% {
    background: #0024ff;
  }
  to {
    background: #ff3232;
  }
}
