$cola-color: rgba(244,0,0,.8);

.fade-cola{
  background: $cola-color;
}

.tile_wrapper {
  display: block;
  width: 400px;
  height: 350px;
  text-decoration: none;
}
// .tile_wrapper-cola {
//   background: url(./components/tile/cola.gif) 50% 50%;
//   background-size: 500px auto;
// }
.tile_title {
  color: white;
  font-family: $font-main;
  font-weight: 300;
  transition: 1s;
  border-bottom: 1px solid transparent;
}
.fade{
  h2 {
    padding-bottom: 10%;
  }
}
.fade {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  &:hover{
    background: rgba(1,1,1,.4);
    transition: .3s;
  }
}
