.tile_wrapper-geely {
}
.tile_wrapper-cola {
  background: url(./components/tile/cola.gif);
}
.tile_title {
  font-size: 24px;
  color: white;
  transition: 1s;
}
.tile_wrapper {
  display: block;
  background-size: auto 350px;
  height: 350px;
  text-decoration: none;
  .fade {
    height: 100%;
    width: 100%;
    &:focus{
      background: rgba(1,1,1,0);
    }
    &:hover{
      background: rgba(1,1,1,.4);
      transition: .3s;
    }
    .tile_title{
      h2 {
        display: inline;
        border-bottom: 1px solid transparent;
      }
    }
    &:hover{
      .tile_title{
        opacity: 0;
        transition: .3s .3s;
        transform: translateY(-24px);
        padding-bottom: 4px;
      }
      h2 {
        border-bottom: 1px solid white;
      }
    }
  }
}
