.tile_wrapper-cola {
  background: url(./components/projectCola2015/cola.gif);
}
.tile_wrapper {
  display: grid;
  background-size: 500px auto;
  height: 350px;
  text-align: center;
  text-decoration: none;
  .fade{//------------------------FADE
    display: grid;
    height: 100%;
    width: 100%;
    &:focus{
      background: rgba(1,1,1,0);
    }
    &:hover{
      background: rgba(1,1,1,.4);
      transition: .3s;
    }
    .title{
      font-size: 32px;
      padding: 10%;
      color: white;
      transition: 1s;
    }
    &:hover{
      .title{
        opacity: 0;
        transition: .3s .3s;
        transform: translateY(-24px)
      }
    }
  }
}
