.instagram-media{
	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}
.instagram_container{
  margin-top: 48px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: row;
  &>div:nth-child(n){
    margin: 12px;
  }
}
.Caption{
	font-size: 24px !important;
}
@include media('<840px') {
  .instagram_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
