@include media('<1px') {}
*{
  line-height: 1.7;
  font-family: $font-main;
  &::selection {
    color: white;
    background: #444;
  }
}
#root{
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  padding: 0;
}
p {
  font-weight: 300;
  font-size: 18px;
}
a {
  color: rgba(0,0,0, 1);
  text-decoration: none;
  opacity: 1;
  &:hover {
    color: rgba(125,125,125, 1);
  }
}
.canvas {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(1,1,1,.9);
}
