.header_container{
  background-size: 1920px auto;
  background-position: 50% 50%;
}
.header_title_container{
  max-width: 600px;
  text-align: center;
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(1,1,1,0.89);
  transition: .3s;
  height: 500px;
  &:hover{
    background-color: rgba(1,1,1,0.75);
  }
  h1{
    margin: 36px;
    font-size: 24px;
  }
  .menu{
    text-align: right;
    padding: 20px 60px 0 0;
  }
}
.header_wrapper{
  animation: opacity .7s ease-in-out 1;
  opacity: 1;
  margin-top: -24px;
  display: flex;
  align-items: center;
  justify-content:center;
  align-items:center;
  height: 100%;
}

span.header_title {
  color: white;
  font-weight: 300;
  font-family: $font-main;
  animation: opacity-in .7s ease;
}
@keyframes opacity-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@include media('<1400px') {
  .header_container{
    background-size: 1400px auto;
    background-position: 50% 50%;
  }
  .header_wrapper{
    margin-top: -36px;
  }
  header{
    height: 350px;
  }
}
@include media('<840px'){
  .header_container{
    background-size: auto 100%;
    background-position: 50% 50%;
  }
  header {
    .menu{
      text-align: center;
      padding: 20px 0;
    }
  }
}
