@import './styles/_include-media.scss';
$unit-intervals: (
  'px': 1,
  'em': 0.01,
  'rem': 0.1
) !default;
@include media('<1200px') {
  span.header_title {
    color: black !important;
    font-weight: 300;
    font-family: $font-main;
  }
}
$content-width: 760px;
.header_container-cola2015{
  // background: url(./components/ProjectPages/Cola2015/cover.gif) fixed 50% 50%;
  background-size: 1920px auto;
}
.header_container-home {
  // background: url(./components/header/me.gif) fixed 100% 300%;
  background-size: 1920px auto;
}
@keyframes opacity {
  0% {opacity:0}
  100%{opacity: 1}
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(1,1,1,0.79);
  transition: .3s;
  height: 500px;
  &:hover{
    background-color: rgba(1,1,1,0.65);
  }
}
.header_wrapper{
  animation: opacity .7s ease-in-out 1;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content:center;
  align-items:center;
  height: 100%;
}
.header_container {
  line-height: 1.6;
  width: $content-width;
}
span.header_title {
  color: white;
  font-weight: 300;
  font-family: $font-main;
}
