.header_container{}

.header_container-home {
  background: url(./components/header/me.gif) fixed 100% 300%;
  background-size: 1920px auto;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(1,1,1,0.8);
  transition: .3s;
  height: 500px;
  &:hover{
    background-color: rgba(1,1,1,0.6);
  }
}
.container{
  display: flex;
  align-items: center;
  height: 100%;
}
.header_title_container {
  padding: 0 33%;
}
.header_title {
  color: white;
  line-height: 1.4;
  &:hover{
    border-bottom: 1px solid white;
  }
}
