article {
  display: flex;
  width: 100%;
  background: white;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  *::selection{
    background-color: black;
    color: white;
  }
  h2{
    font-family: $font-main;
    margin: 48px 100px 12px;
  }
  p {
    margin: 24px 100px;
  }
  .comment{
    margin: 0;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: right;
    font-style: italic;

  }
  .source{
    font-size: 12px;
    text-align: right;
    margin: 8px 0 0 0;
    font-style: italic;
  }
  .quote{
    margin: 8px 0 0 0;
    padding: 24px 100px;
    font-style: italic;
    background-color: rgba(1,1,1,.05);
  }
}
.article_video {
  height: 400px;
  background-position: center;
  background-size: 100% auto;
}
@include media('<840px') {
  .article_video {
    height: 400px;
  }
}
@include media('<500px') {
  .article_video {
    height: 300px;
  }
}

.grey{
  color: #ddd;
}
.fact{
  margin: 48px auto 64px;
  width: 40%;
  text-align: center;
  span{
    margin-bottom:0;
    line-height: 1.2;
    font-size: 48px
  }
}

p > a{
  border-bottom: 1px solid rgba(100,100,100, .3);
  transition: .24s;
  &:hover{
    border-bottom: 1px solid rgba(1,1,1, 1);
  }
}

.content_container {
  width: 840px;
}
@include media('<840px') {
  .content_container {
      width: 100%;
  }

  article{
    h2 {
      margin: 32px 36px 12px;
    }
    p {
      margin: 32px 36px;
    }
  }
}
@include media('<900px') {
  .source {
    margin-right: 24px;
  }
}
