article {
  display: flex;
  width: 100%;
  background: white;
  flex-direction: column;
  align-items: center;
  padding: 8px 0 24px;
  section.block{
    margin-bottom: 36px;
  }
}
.article_img {
  height: 500px;
  background-position: center;
  background-size: 100% auto;
}
article{
  h2{
    margin-top: 48px;
  }
}
// .article_img_ipad {
//   margin-top: 24px;
//   width: 100%;
//   height: 600px;
//   background-position: center;
//   background-size: 100% auto;
// }
.source{
  font-size: 12px;
  text-align: right;
  margin: 8px 0;
}
.quote{
  background: rgba(244,244,244,1);
  padding: 24px 24px 36px 36px;
  border-left: 4px solid rgba(24,24,24,1);
  border-radius: 4px;
  font-style: italic;
}
.grey{
  color: #ddd;
}
.fact{
  width: 50%;
  b{
    font-size: 36px;
  }
}
.instagram-media{
	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
    display: inline !important;
}
.content_container {
  width: 840px;
}
@include media('<1200px') {
  .content_container {
  }
}
