article {
  display: flex;
  width: 100%;
  background: white;
  flex-direction: column;
  align-items: center;
  padding: 8px 0 24px;
  section.block {
    margin-bottom: 36px;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 36px 100px 12px;
  }
  p {
    margin: 24px 100px;
  }
}
.article_img {
  height: 500px;
  background-position: center;
  background-size: 100% auto;
}
article{
  h2{
    margin-top: 48px;
  }
}
.source{
  font-size: 12px;
  text-align: right;
  margin: 8px 0;
}
.quote{
  background: rgba(244,244,244,1);
  padding: 24px 24px 36px 36px;
  border-left: 4px solid rgba(24,24,24,1);
  border-radius: 4px;
  font-style: italic;
}
.grey{
  color: #ddd;
}
.fact{
  width: 50%;
  b{
    font-size: 36px;
  }
}

p > a{
  border-bottom: 1px solid rgba(100,100,100, .3);
  transition: .24s;
  &:hover{
    border-bottom: 1px solid rgba(1,1,1, 1);
  }
}

.content_container {
  width: 840px;
}
@include media('<840px') {
  .content_container {
      width: 100%;
  }
  article{
    h1, h2, h3, h4, h5, h6 {
      margin: 24px 36px 12px;
    }
    p {
      margin: 12px 36px;
    }
  }
}
@include media('<900px') {
  .source {
    margin-right: 24px;
  }
}
