.content_container{
  width: 760px;
}
@include media('<1200px') {
  .content_container{
    width: 660px;
    background: red;
  }
}
article {
  display: flex;
  width: 100%;
  background: white;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  h2{
    color: #444;
  }
  p {
    line-height: 30px;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    margin-top: .7em;
    font-family: $font-reg;
  }
}
.article {
  display: grid;
  background: white;
}
.article_img {
  height: 500px;
  width: 760px;
  background-position: center;
  background-size: 100% auto;
}
