.filter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    color: white;
    margin: 12px;
    border-bottom: 1px solid transparent;
    transition: .3s;
    &:hover{
      border-bottom: 1px solid white;
    }
  }
}
