.filter{
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    color: white;
    font-size: 11px;
    font-family: $font-main;
    margin: 12px;
    border-bottom: 1px solid transparent;
    transition: .3s;
    &:hover{
      border-bottom: 1px solid white;
    }
  }
}
