.menu{
  text-align: right;
  padding: 20px 60px 0 0;
}
.menu_link {
  font-size: 14px;
  font-family: $font-main;
  font-weight: 100;
  color: white;
  text-decoration: none;
  transition: .3s;
  border-bottom: 1px solid transparent;
  margin: 0 1em;
  padding-bottom: 5px;
  &:last-child{
    margin: 0 0 0 1em;
  }
  &:hover{
    border-bottom: 1px solid white;
  }
  &:visited{
    color: white;
  }
}
