.menu_link {
  font-size: 11px;
  font-family: $font-main;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  transition: .3s;
  border-bottom: 1px solid transparent;
  margin: 0 1em;
  padding-bottom: 5px;
  &:last-child{
    margin: 0 0 0 1em;
  }
  &:hover{
    border-bottom: 1px solid white;
  }
  &:visited{
    color: white;
  }
}
@include media('<840px'){
  .menu{
    text-align: center;
    padding: 20px 0;
  }
}
